<div class="container row middle-xs center-xs">
    <div class="social-media">
        <ul>
            <li class="social-media_icon linkedin">
                <a href="https://www.linkedin.com/in/graciela-cesareo/" target="_blank"></a>
            </li>
            <li class="social-media_icon github">
                <a href="https://github.com/GracielaCesareo" target="_blank"></a>
            </li>
            <li class="social-media_icon behance">
                <a href="https://www.behance.net/gracielacesareo" target="_blank"></a>
            </li>
            <li class="social-media_icon dribble">
                <a href="https://dribbble.com/graciela-cesareo" target="_blank"></a>
            </li>
        </ul>
        <p class="social-media__message">
            2020 | Made with love by Grace
        </p>
    </div>
</div>