<!-- header component -->
<div class="container navigation">
    <div class="row middle-xs between-xs">
        <div class="logo">
            <img src=".../img/logo.png" alt="Graciela Cesareo Logo">
        </div>
        <nav class="menu">
            <ul>
                <li class="menu__item">
                    <a href="#projects">Work</a>
                </li>
                <li class="menu__item">
                    <a href="#">About</a>
                </li>
                <li class="menu__item">
                    <a href="#">Resume</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- header component end-->