<!-- header component -->
<div class="container navigation">
    <div class="row middle-xs between-xs">
        <div class="logo">
            <a href="https://thisisgrace.page">
                <img src="../img/logo2.png" alt="Graciela Cesareo Logo">
            </a>
        </div>
        <nav class="menu">
            <ul>
                <li class="menu__item">
                    <a href="/#projects">Work</a>
                </li>
                <li class="menu__item">
                    <a href="/aboutme.html">About</a>
                </li>
                <li class="menu__item">
                    <a href="/img/GracielaCesareoCV.pdf" target="_blank">Resume</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- header component end-->