<div id="heroBack" class="row center-xs hero">
    <div class="hero__body container row middle-xs">
        <div class="hero__description col-sm-12 col-xs-12">
            <p class="subtitle animate__animated animate__fadeInDown">Hello, I am Grace</p>
            <h1 class="title animate__animated animate__fadeInDown">UX/UI Designer & Front End Dev</h1>
            <p class="text animate__animated animate__fadeInDown">
                A unicorn with superpowers to code and design, focused on building interactive visual components for digital products always keeping in mind the final user
            </p>
            <a href="#projects" class="button">See my work</a>
        </div>
        <a id="scroll" class="link_go animate__animated animate__slideInUp" href="#projects"><span></span>Scroll</a>
    </div>
</div>
