<div class="hero__body container row middle-xs">
    <div class="hero__description col-sm-9 col-xs-12">
        <p class="subtitle animate__animated animate__slideInLeft">Hello, I am Grace</p>
        <h1 class="title animate__animated animate__slideInLeft">UX/UI Designer & Front End Dev</h1>
        <p class="text animate__animated animate__slideInLeft">
            A unicorn with superpowers to code and design, focused on building interactive visual components for digital products always keeping in mind the final user
        </p>
        <a href="#" class="button">See my work</a>
    </div>
    <div class="hero__img col-sm-3  col-xs-3 animate__animated animate__slideInLeft">
        <div class="img-container">
            <img src="../img/hero_img.png" alt="">
        </div>
    </div>
    <a id="test" class="link_go animate__animated animate__slideInUp" href="#projects"><span></span>Scroll</a>
</div>